{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for item in transactions %}

                <tr>
                    <td>{{ item.symbol }}</td>
                    <td>{{ item.amount }}</td>
                    <td>${{ item.unit_price }}</td>
                    <td>{{ item.timestamp }}</td>
                </tr>

            {% endfor %}

        </tbody>
    </table>
{% endblock %}
